SERVER_URL=https://whatsapp.materplace.com.br
SERVER_PORT=8080
AUTHENTICATION_API_KEY=SUBSTITUA_POR_UMA_CHAVE_DE_64_CARACTERES
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:SENHA_FORTE@postgres:5432/evolution
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379/6
CACHE_REDIS_PREFIX_KEY=materplace
CACHE_LOCAL_ENABLED=false
QRCODE_LIMIT=30
WEBHOOK_GLOBAL_ENABLED=false
POSTGRES_DATABASE=evolution
POSTGRES_USERNAME=evolution
POSTGRES_PASSWORD=SENHA_FORTE
